{% extends "base.html" %}

{% block title %}About - Flask App{% endblock %}

{% block content %}
<div class="text-center mt-4">
  <h1>About This Flask App</h1>
  <p class="lead">This is a demo project to learn Flask templates, inheritance, static files, and Bootstrap.</p>

  <div class="card mt-4 p-4">
    <h4>Features Covered:</h4>
    <ul class="text-start mx-auto" style="max-width:400px;">
      <li>Dynamic Routing</li>
      <li>Templates with Jinja2</li>
      <li>Template Inheritance</li>
      <li>Static Files (CSS/JS/Images)</li>
      <li>Bootstrap Integration</li>
    </ul>
  </div>
</div>
{% endblock %}
